

.content_wrapper {
  width: 100%;
  max-width: 68em;
  margin: 90px auto 0px;
  padding: 0 2.5em;
}

#header {
  -moz-transition: background 1s ease-in-out, height 0.2s ease-in-out;
  -webkit-transition: background 1s ease-in-out, height 0.2s ease-in-out;
  -ms-transition: background 1s ease-in-out, height 0.2s ease-in-out;
  transition: background 1s ease-in-out, height 0.2s ease-in-out;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  background: rgba(254, 254, 254, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10001;
  left: 0;

  .inner {
    -moz-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
    -webkit-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
    -ms-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
    transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background: #e74c3c;
    border-radius: 100%;
    width: 35em;
    height: 35em;
    padding: 4em;
    text-align: center;
    box-shadow: 0 0 0 1em #FFF;
    cursor: default;


    .content {
      -moz-transition: opacity 1s ease-in-out;
      -webkit-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      opacity: 1;


      h1 {
        font-size: 4em;
        font-family: 'Pattaya', sans-serif;
        margin: 0 0 .25em 0;
        color: #fff;
      }

      h2 {
        font-size: 1.5em;
        color: #fff;
        margin: 0 0 1em 0;
      }

    }


    .button {
      -moz-transition: background 1s ease-in-out;
      -webkit-transition: background 1s ease-in-out;
      -ms-transition: background 1s ease-in-out;
      transition: background 1s ease-in-out;
      margin: 0;
      border-radius: 30px;
    }

    .button.hidden {
      display: none;
      cursor: pointer;
    }

  }

  .inner.hidden {
    display: none;
  }


}



#header.hide, #header.preview {
  -moz-transition: background 0.2s ease-in-out, height 1s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out, height 1s ease-in-out;
  -ms-transition: background 0.2s ease-in-out, height 1s ease-in-out;
  transition: background 0.2s ease-in-out, height 1s ease-in-out;
  background: none;
  height: 0;


  .inner {
    height: 4em;
    width: 4em;
    padding: 2em;


    .content {
      opacity: 0;


      h1 {
        display: none;
      }


      h2 {
        display: none;
      }


    }

  }


  .button.big {
    display: none;
  }


  .button.hidden {
    text-decoration: none;
    padding-top: 1.5em;
    padding-left: 0;
    padding-right: 0;
    background: none;
    display: inline-block;


    span {
      display: none;
    }

  }


  .button.hidden:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }


  .button.hidden:before {
    content: '\f015';
    color: #FFF;
    font-size: 1.5em;
  }

}








/* body */

.tiles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  postiion: relative;
  margin: -2.5em 0 0 -2.5em;


  article {
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    width: calc(33.33333% - 2.5em);
    margin: 2.5em 0 0 2.5em;


    > .image {
      -moz-transition: -moz-transform 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease;
      transition: transform 0.5s ease;
      position: relative;
      display: block;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
      }



    }

    > .image:before {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
      -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
      -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
      transition: background-color 0.5s ease, opacity 0.5s ease;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1.0;
      z-index: 1;
      opacity: 0.8;
    }


    >.image:after {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      -moz-transition: opacity 0.5s ease;
      -webkit-transition: opacity 0.5s ease;
      -ms-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      opacity: 0.25;
      z-index: 2;
    }


    > a {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
      -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
      -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
      transition: background-color 0.5s ease, transform 0.5s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /*padding: 1em;*/
      border-radius: 4px;
      border-bottom: 0;
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      z-index: 3;


      >:last-child {
        margin: 0;
      }


      h2 {
        margin: 0;
      }

      .content {
        -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
        -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
        -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        width: 100%;
        max-height: 0;
        line-height: 1.5;
        margin-top: 0.35em;
        opacity: 0;


        >:last-child {
          margin-bottom: 0;
        }


      }


    }

    > a:hover {
      color: #ffffff !important;
      cursor: pointer;
    }

  }

  article.style1 > .image:before {
    background-color: #f2849e;
  }


  article.style2 > .image:before {
    background-color: #7ecaf6;
  }


  article.style3 > .image:before {
    background-color: #7bd0c1;
  }


  article.style4 > .image:before {
    background-color: #c75b9b;
  }


  article.style5 > .image:before {
    background-color: #ae85ca;
  }


  article.style6 > .image:before {
    background-color: #8499e7;
  }

}


body:not(.is-touch) .tiles article:hover {

  > .image {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }


  > .image:before {
    background-color: #333333;
    opacity: 0.35;
  }


  > .image:after {
    opacity: 0;
  }


  .content {
    max-height: 15em;
    opacity: 1;
  }

}

