<?xml version="1.1" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.github.seungcheul.resume.vo.Resume" alias="resume"></typeAlias>
		<typeAlias type="com.github.seungcheul.resume.vo.Education" alias="education"></typeAlias>
		<typeAlias type="com.github.seungcheul.resume.vo.Certification" alias="certification"></typeAlias>
		<typeAlias type="com.github.seungcheul.resume.vo.Career" alias="career"></typeAlias>
		<typeAlias type="com.github.seungcheul.resume.vo.CareerDetail" alias="careerDetail"></typeAlias>
	</typeAliases>

</configuration>
